<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        tr {
            text-align: center;
        }
        
        th {
            text-align: center;
            width: 20%;
        }
        
        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="contaniner">
        <div class="panel panel-info">
            <div class="panel-body">
                列表
            </div>
        </div>
        <a href="/products/new" class="btn btn-primary">添加</a>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>价格</th>
                    <th>简介</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <%product.forEach((item,index)=>{%>
                    <tr>
                        <td>
                            <%= (index + 1) %>
                        </td>
                        <td>
                            <%= item.pname %>
                        </td>
                        <td>
                            <%= item.pprice %>
                        </td>
                        <td>
                            <%= item.pdesc %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default btn-del" data-id="<%= item.id %>">删除</button>
                            <a href="/products/update?id=<%= item.id %>" class="btn btn-primary btn-update">修改</a>
                        </td>
                    </tr>
                    <%})%>
            </tbody>
        </table>

    </div>
    <script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(function() {
            $('.btn-del').click(function() {
                $.ajax({
                    type: 'delete',
                    url: '/products/del/' + $(this).attr('data-id'),
                    success: function(res) {
                        if (res.code == 1) {
                            location.href = '/products';
                        } else {
                            alert('删除失败');
                        }
                    }
                })
            })
        })
    </script>
</body>

</html>